* {
    position: relative;
    font-family: "Neuton", serif;
    font-weight: 400;
    font-style: normal;
}
.titulo {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 60px;
    position: relative;
    text-align: center;
  } 
h2 {
    text-align: center;
}
.foto {
    height: 567px;
    width: 850px;
}
